.titleText {
    width: 50px;
    height: 20px;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
}

.itemText {
    width: 50px;
    height: 20px;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
}

.itemTextdata {
    width: 50px;
    height: 20px;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
}

@media screen and (min-width: 375px) {

    .titleText {
        width: 130px;
        height: 25px;
    }

    .itemText {
        width: 130px;
        height: 25px;
    }

    .itemTextdata {
        width: 130px;
        height: 25px;
    }

}

@media screen and (min-width: 768px) {

    .titleText {
        width: 260px;
        height: 50px;
        padding: 10px;
    }

    .itemText {
        width: 260px;
        height: 50px;
        padding: 10px;
    }

    .itemTextdata {
        width: 260px;
        height: 50px;
        padding: 10px;
    }

}

@media screen and (min-width: 1440px) {
    .titleText {
        width: 100%;

    }

    .itemText {
        width: 100%;

    }

    .itemTextdata {
        width: 100%;

    }
}